name: Tag and Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "package.json"
  pull_request_target:
    types:
      - closed

jobs:
  node:
    uses: gjtorikian/actions/.github/workflows/node_package_release.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
    with:
      prepare: ${{ github.event_name == 'push' }}
      release: ${{ github.event_name == 'workflow_dispatch' || ((github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'release'))) }}
      build_dist: true

  point_to_latest:
    needs: node
    runs-on: ubuntu-latest
    steps:
      - name: Update major version tag
        run: |
          git tag -f "v${{ steps.version.outputs.major }}"
          git push origin "v${{ steps.version.outputs.major }}" --force
