name: Lint

on:
  pull_request:

env:
  NODE_ENV: test

jobs:
  lint:
    uses: gjtorikian/actions/.github/workflows/bun_lint.yml@main
    permissions:
      # Gives the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

