name: Tag and Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "package.json"
  pull_request_target:
    types:
      - closed

permissions:
  contents: write
  pull-requests: write
  actions: write
  id-token: write

jobs:
  node:
    uses: gjtorikian/actions/.github/workflows/node_package_release.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
    with:
      prepare: ${{ github.event_name == 'push' }}
      release: ${{ github.event_name == 'workflow_dispatch' || ((github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'release'))) }}
      build_dist: true

  release:
    needs: node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: gjtorikian/actions/setup-languages/node@main

      - name: Build and publish to npm
        run: |
          npm run package
          npm publish --provenance --access public

  point_to_latest:
    needs: node
    if: ${{ needs.node.outputs.major != '' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update major version tag
        run: |
          git tag -f "v${{ needs.node.outputs.major }}"
          git push origin "v${{ needs.node.outputs.major }}" --force
