name: Publish Package

on:
  pull_request:
    types: [closed]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: >
      github.event_name == 'workflow_dispatch' ||
      (github.event.pull_request.merged == true &&
       startsWith(github.head_ref, 'release-please'))
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Bun
        uses: gjtorikian/actions/setup-languages/bun@main

      - run: bun run package --if-present

      - name: Publish package
        run: bun publish -w gh-actions-lockfile --provenance --access public
